

/* секция горея */
.section-hero {
  font-weight: 0;
   background-color: #2F303A;
}


.hero-container {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
   width: 1200px;
   height: 600px;
   padding-top: 200px;

}


.hero-title { 
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  text-align: center;
  letter-spacing: 0.06em;
  
  width: 696px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-link {
  font-weight: 700;
  font-size: 16px;
  line-height:1.87;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  padding: 0; 
}
 
.btn {
  
  border-radius: 4px;
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  background: var(--accent-color);
 
}




/* преимущества */

.advantages-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* .advantages-container ul {
  display: flex;  
} */

.advantages {
  display: flex;
}

.advantages li:not(:last-child) {
  margin-right: 30px;
  min-width: 270px;
  min-height: 101px;
}

.advantages-title {
  margin-bottom: 10px;

  color: var(--primary-text-color);
 
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase

}

.advantages-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-container {
  padding-bottom: 94px;
}

.works {
  display: flex;
}

.works li:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Наша команда */

.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
}
.team li:not(:last-child) {
  margin-right: 30px;
}

.list-title {
  margin-top: 30px;
  margin-bottom: 10px;
  

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.list-text {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}




