


.list button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.list-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.list-text {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.btn:hover[type],
.btn:focus[type] {
    color: #ffffff;
    background: var(--accent-color);
}
