.header {
    border: 1px solid #ECECEC
}

.list-container {
   padding-top: 94px;
   padding-bottom: 94px; 
}

.works {
    display: flex;
     justify-content: center;
     margin-bottom: 50px;
}

.works li:not(:last-child) {
    margin-right: 8px;
}

.list button {
    padding: 6px 22px;
    min-width: 73px;
    min-height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.cards {
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-container {
    padding: 0px;
    flex-basis: calc(100%/3 - 30px);
    min-width: 370px;
    min-height: 404px;
    border: 1px solid #EEEEEE;
    margin-top: 30px;
    
}

.list-title { 
    margin-top: 20px;
    margin-right: 24px;
    margin-left: 24px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.list-text {
    margin-top: 4px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.btn:hover[type],
.btn:focus[type] {
    color: #ffffff;
    background: var(--accent-color);
}
